## Template for sensitive application configuration
apiVersion: v1
kind: Secret

metadata:
  name: aws-eks-platform-secret
  namespace: aws-eks-platform

  type: Opaque

  stringData:
  APP_SECRET: "REPLACE_WITH_REAL_SECRET"